<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-firebase-database" version="1.0.0">
    <name>Firebase Realtime Database</name>
    <description>Adds native support for Firebase's realtime database to your Cordova/PhoneGap apps.</description>
    <license>Apache 2.0</license>
    <keywords>firebase,cordova,database,realtime</keywords>
    <databaseor>Carlos "blakgeek" Lawton</databaseor>
    <repo>https://github.com/blakgeek/cordova-plugin-firebase-database.git</repo>
    <issue>https://github.com/blakgeek/cordova-plugin-firebase-database/issues</issue>

    <js-module src="www/plugin.js" name="FirebaseDatabasePlugin">
        <clobbers target="FirebaseDatabase" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=6.0.0" />
        <engine name="cordova-android" version=">=4.0.0" />
        <engine name="cordova-plugman" version=">=4.2.0" />
    </engines>

    <!--<dependency id="cordova-plugin-firebase-core"/>-->

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FirebaseDatabasePlugin">
                <param name="ios-package" value="FirebaseDatabasePlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/FirebaseDatabasePlugin.h" />
        <source-file src="src/ios/FirebaseDatabasePlugin.m" />
        <pod id="Firebase/Database" />
    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebaseDatabasePlugin">
                <param name="android-package" value="com.blakgeek.cordova.plugin.FirebaseDatabasePlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/com/blakgeek/cordova/plugin/FirebaseDatabasePlugin.java"
            target-dir="src/com/blakgeek/cordova/plugin/" />
        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference" />
        <framework src="com.google.firebase:firebase-database:9+" />
        <framework src="com.google.code.gson:gson:2+"/>
    </platform>
</plugin>
